body, html {
    height: 100%;
    margin: 0;
}

#map { 
    height: 100%;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
}

.leaflet-container {
    height: 100%;
    width: 78%;
    max-width: 100%;
    max-height: 100%;
}

.parent-container {
    position: relative;
   }
   
.d-flex, .align-items-start, .flex-column, .flex-shrink-0, .p-3, .bg-body-tertiary {
    position: relative;
    top: -260px;
   }

   #addButtonFrame {
    position: fixed; /* Fixed position */
    z-index: 9999; /* Sit on top */
    left: 0; /* Full width */
    top: 0; /* Full height */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black background with 50% opacity */

   }
.font-slider {
    font-size: 13px;
   }

