body, html {
    height: 100%;
    margin: 0;
}

#map { 
    height: 100%;
    margin-left: 280px;
    margin-right: 280px;
    display: flex;
}

.leaflet-container {
    height: 100%;
    width: 78%;
    max-width: 100%;
    max-height: 100%;
}

.fixed-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
   }