body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;

}

.leaflet-container {
    height: 100%;
    width: 114.2%;
    margin-left: 275px;
    margin-bottom: -30px
}

.parent-container {
    position: relative;
   }

   #addButtonFrame {
    position: fixed; /* Fixed position */
    z-index: 9999; /* Sit on top */
    left: 0; /* Full width */
    top: 0; /* Full height */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black background with 50% opacity */

   }
.font-slider {
    font-size: 13px;
   }

#addEventButton {
   position: relative;
   top: -680px;
   margin-left: 91px;
   padding: 10px 20px;
   background-color: #54adcb; /* Green background */
   color: white; /* White text */
   border: none; /* No border */
   cursor: pointer; /* Cursor changes to a hand when hovering over the button */
   transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Change the background color when the button is hovered over */
#addEventButton:hover {
   background-color: #4580a0;
}

#slider, #filters {
    position: relative;
    top: -640px;
    margin-left: 20px;
    margin-right: 1000px;
}