body, html {
    height: 80%;
    margin: 0;
}

#map { 
    height: 180px;
    margin-left: 280px;

}

.leaflet-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
